body{
background: #ffffff;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;;
}
.buttons{
    font-size: 22px;
    font-family: 'Waiting for the Sunrise',cursive !important;;
    background: -webkit-gradient(top,#53a51d 0%,#75b74a 100%);
    border-width:0;
    display:block;
    padding:12px 20px;
    color: #53a51d;
    margin: 13px 0 10px;
    text-decoration: none;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,0.25) 0 1px 3px;
}
.content{
    font-weight:normal;
}
